.profile {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: white;
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 12px 3px lightslategrey;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    height: 50%;
}

.avatar {
    width: 65%;
    height: 65%;
}

.stats {
    border: 1px solid darkgrey;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 90px;
    padding: 0;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-right: 1px solid darkgrey;
}

.stats li:last-child {
    border-right: none;
}

.tag {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: grey;
}

.location {
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
    color: grey;
}

.name {
    margin: 12px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.label {
    height: 50px;
    margin: 10px 17px 0px 0px;
    font-size: 13px;
    color: grey;
}

.quantity {
    margin-left: -15px;
    margin-top: -20px;
    font-size: 16px;
    font-weight: 500;
}