.item {
    display: flex;
    height: 75px;
    width: 100%;
    margin: 13px auto;
    border: 1px solid grey;
    box-shadow: 0px 3px 7px 0px grey;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.online {
    display: flex;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0px 0px 2.5px 0px green;
}

.offline {
    display: flex;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 1.5px 0px red;
}