.friendsList {
    list-style: none;
    width: 200px;
    margin: 0 auto;
    padding: 0;
}


.avatar {
    display: flex;
    align-content: center;
    box-shadow: inset 0px 0px 10px 0px lightgrey;
    margin-top: 10px;
    height: 75%;
}

.name {
    margin: 25px 15px;
    font-size: 22px;
    font-weight: 300;
}